/*Typography*/

h1{
    font-family: 'Rubik', sans-serif;
}
h2, a{
    font-family: 'Arimo', sans-serif;
}
p{
    font-family: 'EB Garamond', serif;
}
p{
    margin: 30px;
    color: blue;
    font-size: 14px;
}

/*Layout*/

